[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com-personal:Hussain7Abbas/storylens-backend.git
[submodule "apps/extension"]
	path = apps/extension
	url = git@github.com-personal:Hussain7Abbas/storylens-extension.git
